/* ::::: http://www.ncd.org.cn/skin/css/mui.min.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: 700; }
h1 { margin: 0.67em 0px; }
small { font-size: 80%; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { font: inherit; margin: 0px; color: inherit; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input { line-height: normal; }
* { box-sizing: border-box; -moz-user-select: none; outline: 0px none; }
body { font-family: "Helvetica Neue",Helvetica,sans-serif; font-size: 17px; line-height: 21px; color: rgb(0, 0, 0); background-color: rgb(239, 239, 244); }
a { text-decoration: none; color: rgb(0, 122, 255); }
a:active { color: rgb(0, 98, 204); }
.mui-content { background-color: rgb(239, 239, 244); }
.mui-bar-nav ~ .mui-content { padding-top: 44px; }
.mui-ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.mui-pull-left { float: left; }
.mui-pull-right { float: right; }
.mui-clearfix::after, .mui-clearfix::before { display: table; content: " "; }
.mui-clearfix::after { clear: both; }
h1, h2, h3, h4, h5, h6 { line-height: 1; margin-top: 5px; margin-bottom: 5px; }
.mui-h1, h1 { font-size: 36px; }
.mui-h3, h3 { font-size: 24px; }
p { font-size: 14px; margin-top: 0px; margin-bottom: 10px; color: rgb(143, 143, 148); }
.mui-row::after, .mui-row::before { display: table; content: " "; }
.mui-row::after { clear: both; }
@media (min-width: 400px) {
  .mui-col-sm-12 { width: 100%; }
  .mui-col-sm-11 { width: 91.6667%; }
  .mui-col-sm-10 { width: 83.3333%; }
  .mui-col-sm-9 { width: 75%; }
  .mui-col-sm-8 { width: 66.6667%; }
  .mui-col-sm-7 { width: 58.3333%; }
  .mui-col-sm-6 { width: 50%; }
  .mui-col-sm-5 { width: 41.6667%; }
  .mui-col-sm-4 { width: 33.3333%; }
  .mui-col-sm-3 { width: 25%; }
  .mui-col-sm-2 { width: 16.6667%; }
  .mui-col-sm-1 { width: 8.33333%; }
}
.mui-scroll-wrapper { position: absolute; z-index: 2; top: 0px; bottom: 0px; left: 0px; width: 100%; }
.mui-scroll { position: absolute; z-index: 1; width: 100%; transform: translateZ(0px); }
.mui-off-canvas-wrap .mui-bar { transform: translate3d(0px, 0px, 0px); box-shadow: none; }
.mui-off-canvas-wrap { position: relative; z-index: 1; width: 100%; height: 100%; }
.mui-off-canvas-wrap .mui-inner-wrap { position: relative; z-index: 1; width: 100%; height: 100%; }
.mui-off-canvas-backdrop { position: absolute; z-index: 998; top: 0px; right: 0px; bottom: 0px; left: 0px; display: none; transition: background 350ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%; box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.5), 4px 0px 4px rgba(0, 0, 0, 0.5); }
.mui-off-canvas-left, .mui-off-canvas-right { position: absolute; z-index: -1; top: 0px; bottom: 0px; box-sizing: content-box; width: 70%; height: 100%; background: rgb(51, 51, 51) none repeat scroll 0% 0%; }
.mui-off-canvas-left { left: 0px; }
.mui-off-canvas-wrap.mui-scalable:not(.mui-slide-in) { background-color: rgb(51, 51, 51); }
.mui-off-canvas-wrap.mui-scalable:not(.mui-slide-in) > .mui-off-canvas-left, .mui-off-canvas-wrap.mui-scalable:not(.mui-slide-in) > .mui-off-canvas-right { width: 80%; transform: scale(0.8); opacity: 0.1; }
.mui-off-canvas-wrap.mui-scalable:not(.mui-slide-in) > .mui-off-canvas-left.mui-transitioning, .mui-off-canvas-wrap.mui-scalable:not(.mui-slide-in) > .mui-off-canvas-right.mui-transitioning { transition: transform 350ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, opacity 350ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.mui-off-canvas-wrap.mui-scalable:not(.mui-slide-in) > .mui-off-canvas-left { transform-origin: -100% 50% 0px; }
.mui-off-canvas-wrap.mui-scalable:not(.mui-slide-in) > .mui-off-canvas-right { transform-origin: 200% 50% 0px; }
.mui-off-canvas-wrap.mui-scalable.mui-active:not(.mui-slide-in) > .mui-inner-wrap { transform: scale(0.8); }
.mui-off-canvas-wrap.mui-scalable.mui-active:not(.mui-slide-in) > .mui-off-canvas-left, .mui-off-canvas-wrap.mui-scalable.mui-active:not(.mui-slide-in) > .mui-off-canvas-right { transform: scale(1); opacity: 1; }
.mui-spinner::after { display: block; width: 100%; height: 100%; content: ""; background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'><defs><line id=\'l\' x1=\'60\' x2=\'60\' y1=\'7\' y2=\'27\' stroke=\'%236c6c6c\' stroke-width=\'11\' stroke-linecap=\'round\'/></defs><g><use xlink:href=\'%23l\' opacity=\'.27\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(30 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(60 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(90 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(120 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(150 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.37\' transform=\'rotate(180 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.46\' transform=\'rotate(210 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.56\' transform=\'rotate(240 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.66\' transform=\'rotate(270 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.75\' transform=\'rotate(300 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.85\' transform=\'rotate(330 60,60)\'/></g></svg>"); background-repeat: no-repeat; background-position: 50% center; background-size: 100% auto; }
.mui-spinner-white::after { background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'><defs><line id=\'l\' x1=\'60\' x2=\'60\' y1=\'7\' y2=\'27\' stroke=\'%23fff\' stroke-width=\'11\' stroke-linecap=\'round\'/></defs><g><use xlink:href=\'%23l\' opacity=\'.27\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(30 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(60 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(90 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(120 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(150 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.37\' transform=\'rotate(180 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.46\' transform=\'rotate(210 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.56\' transform=\'rotate(240 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.66\' transform=\'rotate(270 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.75\' transform=\'rotate(300 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.85\' transform=\'rotate(330 60,60)\'/></g></svg>"); }
.mui-btn, button, input[type="button"], input[type="reset"], input[type="submit"] { font-size: 14px; font-weight: 400; line-height: 1.42; position: relative; display: inline-block; margin-bottom: 0px; padding: 6px 12px; cursor: pointer; transition: all 0.2s linear 0s; text-align: center; vertical-align: top; white-space: nowrap; color: rgb(51, 51, 51); border: 1px solid rgb(204, 204, 204); border-radius: 3px; background-color: rgb(255, 255, 255); background-clip: padding-box; }
.mui-btn.mui-active:enabled, .mui-btn:enabled:active, button.mui-active:enabled, button:enabled:active, input.mui-active[type="button"]:enabled, input[type="button"]:enabled:active, input.mui-active[type="reset"]:enabled, input[type="reset"]:enabled:active, input.mui-active[type="submit"]:enabled, input[type="submit"]:enabled:active { color: rgb(255, 255, 255); background-color: rgb(146, 146, 146); }
.mui-btn.mui-disabled, .mui-btn:disabled, button.mui-disabled, button:disabled, input.mui-disabled[type="button"], input[type="button"]:disabled, input.mui-disabled[type="reset"], input[type="reset"]:disabled, input.mui-disabled[type="submit"], input[type="submit"]:disabled { opacity: 0.6; }
.mui-btn-blue, .mui-btn-primary, input[type="submit"] { color: rgb(255, 255, 255); border: 1px solid rgb(0, 122, 255); background-color: rgb(0, 122, 255); }
.mui-btn-blue.mui-active:enabled, .mui-btn-blue:enabled:active, .mui-btn-primary.mui-active:enabled, .mui-btn-primary:enabled:active, input.mui-active[type="submit"]:enabled, input[type="submit"]:enabled:active { color: rgb(255, 255, 255); border: 1px solid rgb(0, 98, 204); background-color: rgb(0, 98, 204); }
.mui-bar { position: fixed; z-index: 10; right: 0px; left: 0px; height: 44px; padding-right: 10px; padding-left: 10px; border-bottom: 0px none; background-color: rgb(247, 247, 247); box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.85); backface-visibility: hidden; }
.mui-bar .mui-title { right: 40px; left: 40px; display: inline-block; overflow: hidden; width: auto; margin: 0px; text-overflow: ellipsis; }
.mui-bar-nav { top: 0px; box-shadow: 0px 1px 6px rgb(204, 204, 204); }
.mui-bar-nav.mui-bar .mui-icon { margin-right: -10px; margin-left: -10px; padding-right: 10px; padding-left: 10px; }
.mui-title { font-size: 17px; font-weight: 500; line-height: 44px; position: absolute; display: block; width: 100%; margin: 0px -10px; padding: 0px; text-align: center; white-space: nowrap; color: rgb(0, 0, 0); }
.mui-bar .mui-icon { font-size: 24px; position: relative; z-index: 20; padding-top: 10px; padding-bottom: 10px; }
.mui-bar .mui-icon:active { opacity: 0.3; }
.mui-bar .mui-search::before { margin-top: -10px; }
.mui-card .mui-input-group .mui-input-row:last-child::after, .mui-card .mui-input-group .mui-input-row:last-child::before, .mui-card .mui-input-group::after, .mui-card .mui-input-group::before { height: 0px; }
.mui-card .mui-table-view::after, .mui-card .mui-table-view::before, .mui-card > .mui-table-view > .mui-table-view-cell:last-child::after, .mui-card > .mui-table-view > .mui-table-view-cell:last-child::before { height: 0px; }
.mui-card-footer::before, .mui-card-header::after { position: absolute; top: 0px; right: 0px; left: 0px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); }
.mui-card-header::after { top: auto; bottom: 0px; }
.mui-table-view { position: relative; margin-top: 0px; margin-bottom: 0px; padding-left: 0px; list-style: outside none none; background-color: rgb(255, 255, 255); }
.mui-table-view::after { position: absolute; right: 0px; bottom: 0px; left: 0px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); }
.mui-table-view::before { position: absolute; right: 0px; left: 0px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); top: -1px; }
.mui-table-view-icon .mui-table-view-cell::after { left: 40px; }
.mui-table-view-chevron .mui-table-view-cell { padding-right: 65px; }
.mui-table-view-chevron .mui-table-view-cell > a:not(.mui-btn) { margin-right: -65px; }
.mui-table-view-radio .mui-table-view-cell > a:not(.mui-btn) { margin-right: -65px; }
.mui-table-view-radio .mui-table-view-cell .mui-navigate-right::after { font-size: 30px; font-weight: 600; right: 9px; content: ""; color: rgb(0, 122, 255); }
.mui-table-view-radio .mui-table-view-cell.mui-selected .mui-navigate-right::after { content: ""; }
.mui-table-view-inverted { color: rgb(255, 255, 255); background: rgb(51, 51, 51) none repeat scroll 0% 0%; }
.mui-table-view-inverted::after { position: absolute; right: 0px; bottom: 0px; left: 0px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(34, 34, 34); }
.mui-table-view-inverted::before { position: absolute; top: 0px; right: 0px; left: 0px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(34, 34, 34); }
.mui-table-view-inverted .mui-table-view-cell::after { position: absolute; right: 0px; bottom: 0px; left: 15px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(34, 34, 34); }
.mui-table-view-inverted .mui-table-view-cell.mui-active, .mui-table-view-inverted .mui-table-view-cell > a.mui-active:not(.mui-btn) { background-color: rgb(36, 36, 36); }
.mui-table-view-cell { position: relative; overflow: hidden; padding: 11px 15px; }
.mui-table-view-cell::after { position: absolute; right: 0px; bottom: 0px; left: 15px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); }
.mui-table-view-cell:last-child::after, .mui-table-view-cell:last-child::before { height: 0px; }
.mui-table-view-cell > article:not(.mui-btn) { position: relative; display: block; overflow: hidden; margin: -11px -15px; padding: inherit; white-space: nowrap; text-overflow: ellipsis; color: inherit; }
.mui-table-view-cell > a.mui-active:not(.mui-btn) { background-color: rgb(238, 238, 238); }
.mui-table-view-cell p { margin-bottom: 0px; }
.mui-table-view-cell > .mui-slider-handle .mui-navigate-right::after, .mui-table-view-cell > .mui-slider-handle.mui-navigate-right::after { right: 0px; }
.mui-table-view-cell > .mui-slider-left > .mui-btn::after, .mui-table-view-cell > .mui-slider-right > .mui-btn::after { position: absolute; z-index: -1; top: 0px; width: 600%; height: 100%; content: ""; background: inherit; }
.mui-table-view-cell > .mui-slider-left > .mui-btn::after { right: 100%; margin-right: -1px; }
.mui-table-view-divider::after { position: absolute; right: 0px; bottom: 0px; left: 0px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); }
.mui-table-view-divider::before { position: absolute; top: 0px; right: 0px; left: 0px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); }
.mui-table-view .mui-media, .mui-table-view .mui-media-body { overflow: hidden; }
.mui-table-view .mui-media-large .mui-media-object { line-height: 80px; max-width: 80px; height: 80px; }
.mui-table-view .mui-media-object { line-height: 42px; max-width: 42px; height: 42px; }
.mui-table-view .mui-media-object.mui-pull-left { margin-right: 10px; }
.mui-table-view .mui-table-view-cell.mui-media-icon .mui-media-body::after { position: absolute; right: 0px; bottom: 0px; left: 55px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); }
.mui-table-view .mui-table-view-cell.mui-media-icon::after { height: 0px !important; }
.mui-table-view.mui-unfold .mui-table-view-cell.mui-collapse .mui-table-view::after, .mui-table-view.mui-unfold .mui-table-view-cell.mui-collapse .mui-table-view::before { height: 0px !important; }
.mui-table-view.mui-unfold .mui-table-view-cell.mui-media-icon.mui-collapse .mui-media-body::after { position: absolute; right: 0px; bottom: 0px; left: 70px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); }
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:last-child::after, .mui-table-view-cell.mui-collapse .mui-table-view::after, .mui-table-view-cell.mui-collapse .mui-table-view::before { height: 0px; }
.mui-table-view-cell.mui-collapse > .mui-navigate-right::after, .mui-table-view-cell.mui-collapse > .mui-push-right::after { content: ""; }
.mui-table-view-cell.mui-collapse.mui-active > .mui-navigate-right::after, .mui-table-view-cell.mui-collapse.mui-active > .mui-push-right::after { content: ""; }
.mui-table-view-cell.mui-collapse.mui-active .mui-table-view-cell > a.mui-active:not(.mui-btn) { margin-left: -31px; padding-left: 47px; }
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell::after { position: absolute; right: 0px; bottom: 0px; left: 30px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); }
.mui-table-view.mui-grid-view .mui-table-view-cell > a:not(.mui-btn) { margin: -10px 0px 0px -14px; }
.mui-table-view.mui-grid-view .mui-table-view-cell > a.mui-active:not(.mui-btn), .mui-table-view.mui-grid-view .mui-table-view-cell > a:active:not(.mui-btn) { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
.mui-table-view.mui-grid-view .mui-table-view-cell::after, .mui-table-view.mui-grid-view .mui-table-view-cell::before { height: 0px; }
.mui-grid-view.mui-grid-9::after, .mui-grid-view.mui-grid-9::before { display: table; content: " "; }
.mui-grid-view.mui-grid-9::after { clear: both; position: static; }
.mui-grid-view.mui-grid-9 .mui-table-view-cell > a:not(.mui-btn) { margin: 0px; padding: 10px 0px; }
.mui-grid-view.mui-grid-9::before { height: 0px; }
input, select, textarea { font-family: "Helvetica Neue",Helvetica,sans-serif; font-size: 17px; }
input:focus, select:focus, textarea:focus {  }
input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea { line-height: 21px; width: 100%; height: 40px; margin-bottom: 15px; padding: 10px 15px; -moz-user-select: text; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 3px; outline: 0px none; background-color: rgb(255, 255, 255); }
.mui-input-group::after { position: absolute; right: 0px; bottom: 0px; left: 0px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); }
.mui-input-group::before { position: absolute; top: 0px; right: 0px; left: 0px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); }
.mui-input-group .mui-input-row::after { position: absolute; right: 0px; bottom: 0px; left: 15px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); }
.mui-checkbox input[type="checkbox"][disabled]::before, .mui-radio input[type="radio"][disabled]::before { opacity: 0.3; }
.mui-checkbox input[type="checkbox"]::before, .mui-radio input[type="radio"]::before { font-family: Muiicons; font-size: 28px; font-weight: 400; line-height: 1; text-decoration: none; color: rgb(170, 170, 170); border-radius: 0px; background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
.mui-checkbox input[type="checkbox"]:checked::before, .mui-radio input[type="radio"]:checked::before { color: rgb(0, 122, 255); }
.mui-radio input[type="radio"]::before { content: ""; }
.mui-radio input[type="radio"]:checked::before { content: ""; }
.mui-checkbox input[type="checkbox"]::before { content: ""; }
.mui-checkbox input[type="checkbox"]:checked::before { content: ""; }
.mui-select::before { font-family: Muiicons; position: absolute; top: 8px; right: 21px; content: ""; color: rgba(170, 170, 170, 0.6); }
.mui-search::before { font-family: Muiicons; font-size: 20px; font-weight: 400; position: absolute; top: 50%; right: 50%; display: none; margin-top: -18px; margin-right: 31px; content: ""; }
.mui-search.mui-active::before { font-size: 20px; right: auto; left: 5px; display: block; margin-right: 0px; }
.mui-popover .mui-popover-arrow::after { position: absolute; top: 19px; left: 0px; width: 26px; height: 26px; content: " "; transform: rotate(45deg); border-radius: 3px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
.mui-popover .mui-popover-arrow.mui-bottom::after { top: -19px; left: 0px; }
.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell::after { position: absolute; right: 0px; bottom: 0px; left: 0px; height: 1px; content: ""; transform: scaleY(0.5); background-color: rgb(200, 199, 204); }
.mui-popover .mui-table-view::after, .mui-popover .mui-table-view::before { height: 0px; }
.mui-popover .mui-table-view .mui-table-view-cell:first-child, .mui-popover .mui-table-view .mui-table-view-cell:first-child > a:not(.mui-btn) { border-top-left-radius: 12px; border-top-right-radius: 12px; }
.mui-popover .mui-table-view .mui-table-view-cell:last-child, .mui-popover .mui-table-view .mui-table-view-cell:last-child > a:not(.mui-btn) { border-bottom-right-radius: 12px; border-bottom-left-radius: 12px; }
.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell > a:not(.mui-btn) { margin: -11px -15px; }
.mui-popup-inner::after { position: absolute; z-index: 15; top: auto; right: auto; bottom: 0px; left: 0px; display: block; width: 100%; height: 1px; content: ""; transform: scaleY(0.5); transform-origin: 50% 100% 0px; background-color: rgba(0, 0, 0, 0.2); }
.mui-popup-button::after { position: absolute; z-index: 15; top: 0px; right: 0px; bottom: auto; left: auto; display: block; width: 1px; height: 100%; content: ""; transform: scaleX(0.5); transform-origin: 100% 50% 0px; background-color: rgba(0, 0, 0, 0.2); }
.mui-popup-button:last-child::after { display: none; }
.mui-progressbar.mui-progressbar-infinite::before { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; content: ""; transform: translate3d(0px, 0px, 0px); transform-origin: left center 0px; animation: 1s linear 0s normal none infinite running mui-progressbar-infinite; background: rgb(0, 122, 255) none repeat scroll 0% 0%; }
.mui-pager::after, .mui-pager::before { display: table; content: " "; }
.mui-pager::after { clear: both; }
.mui-slider .mui-slider-group .mui-slider-item > a:not(.mui-control-item) { line-height: 0; position: relative; display: block; }
.mui-slider .mui-slider-group .mui-slider-item .mui-table-view::after, .mui-slider .mui-slider-group .mui-slider-item .mui-table-view::before { height: 0px; }
.mui-switch::before { font-size: 13px; position: absolute; top: 3px; right: 11px; content: "Off"; text-transform: uppercase; color: rgb(153, 153, 153); }
.mui-switch.mui-active::before { right: auto; left: 15px; content: "On"; color: rgb(255, 255, 255); }
.mui-switch-mini::before { display: none; }
.mui-navigate-right::after, .mui-push-left::after, .mui-push-right::after { font-family: Muiicons; font-size: inherit; line-height: 1; position: absolute; top: 50%; display: inline-block; transform: translateY(-50%); text-decoration: none; color: rgb(187, 187, 187); }
.mui-push-left::after { left: 15px; content: ""; }
.mui-navigate-right::after, .mui-push-right::after { right: 15px; content: ""; }
@font-face {
  font-family: "Muiicons";  font-style: normal;  font-weight: 400;  src: url('/template16/fonts/mui.ttf') format("truetype");}
.mui-icon { font-family: Muiicons; font-size: 24px; font-weight: 400; font-style: normal; line-height: 1; display: inline-block; text-decoration: none; }
.mui-icon.mui-right::before { float: right; padding-left: 0.2em; }
.mui-icon-contact::before { content: ""; }
.mui-icon-person::before { content: ""; }
.mui-icon-personadd::before { content: ""; }
.mui-icon-contact-filled::before { content: ""; }
.mui-icon-person-filled::before { content: ""; }
.mui-icon-personadd-filled::before { content: ""; }
.mui-icon-phone::before { content: ""; }
.mui-icon-email::before { content: ""; }
.mui-icon-chatbubble::before { content: ""; }
.mui-icon-chatboxes::before { content: ""; }
.mui-icon-phone-filled::before { content: ""; }
.mui-icon-email-filled::before { content: ""; }
.mui-icon-chatbubble-filled::before { content: ""; }
.mui-icon-chatboxes-filled::before { content: ""; }
.mui-icon-weibo::before { content: ""; }
.mui-icon-weixin::before { content: ""; }
.mui-icon-pengyouquan::before { content: ""; }
.mui-icon-chat::before { content: ""; }
.mui-icon-qq::before { content: ""; }
.mui-icon-videocam::before { content: ""; }
.mui-icon-camera::before { content: ""; }
.mui-icon-mic::before { content: ""; }
.mui-icon-location::before { content: ""; }
.mui-icon-mic-filled::before, .mui-icon-speech::before { content: ""; }
.mui-icon-location-filled::before { content: ""; }
.mui-icon-micoff::before { content: ""; }
.mui-icon-image::before { content: ""; }
.mui-icon-map::before { content: ""; }
.mui-icon-compose::before { content: ""; }
.mui-icon-trash::before { content: ""; }
.mui-icon-upload::before { content: ""; }
.mui-icon-download::before { content: ""; }
.mui-icon-close::before { content: ""; }
.mui-icon-redo::before { content: ""; }
.mui-icon-undo::before { content: ""; }
.mui-icon-refresh::before { content: ""; }
.mui-icon-star::before { content: ""; }
.mui-icon-plus::before { content: ""; }
.mui-icon-minus::before { content: ""; }
.mui-icon-checkbox::before, .mui-icon-circle::before { content: ""; }
.mui-icon-clear::before, .mui-icon-close-filled::before { content: ""; }
.mui-icon-refresh-filled::before { content: ""; }
.mui-icon-star-filled::before { content: ""; }
.mui-icon-plus-filled::before { content: ""; }
.mui-icon-minus-filled::before { content: ""; }
.mui-icon-circle-filled::before { content: ""; }
.mui-icon-checkbox-filled::before { content: ""; }
.mui-icon-closeempty::before { content: ""; }
.mui-icon-refreshempty::before { content: ""; }
.mui-icon-reload::before { content: ""; }
.mui-icon-starhalf::before { content: ""; }
.mui-icon-spinner::before { content: ""; }
.mui-icon-spinner-cycle::before { content: ""; }
.mui-icon-search::before { content: ""; }
.mui-icon-plusempty::before { content: ""; }
.mui-icon-forward::before { content: ""; }
.mui-icon-back::before, .mui-icon-left-nav::before { content: ""; }
.mui-icon-checkmarkempty::before { content: ""; }
.mui-icon-home::before { content: ""; }
.mui-icon-navigate::before { content: ""; }
.mui-icon-gear::before { content: ""; }
.mui-icon-paperplane::before { content: ""; }
.mui-icon-info::before { content: ""; }
.mui-icon-help::before { content: ""; }
.mui-icon-locked::before { content: ""; }
.mui-icon-more::before { content: ""; }
.mui-icon-flag::before { content: ""; }
.mui-icon-home-filled::before { content: ""; }
.mui-icon-gear-filled::before { content: ""; }
.mui-icon-info-filled::before { content: ""; }
.mui-icon-help-filled::before { content: ""; }
.mui-icon-more-filled::before { content: ""; }
.mui-icon-settings::before { content: ""; }
.mui-icon-list::before { content: ""; }
.mui-icon-bars::before { content: ""; }
.mui-icon-loop::before { content: ""; }
.mui-icon-paperclip::before { content: ""; }
.mui-icon-eye::before { content: ""; }
.mui-icon-arrowup::before { content: ""; }
.mui-icon-arrowdown::before { content: ""; }
.mui-icon-arrowleft::before { content: ""; }
.mui-icon-arrowright::before { content: ""; }
.mui-icon-arrowthinup::before { content: ""; }
.mui-icon-arrowthindown::before { content: ""; }
.mui-icon-arrowthinleft::before { content: ""; }
.mui-icon-arrowthinright::before { content: ""; }
.mui-icon-pulldown::before { content: ""; }
/* ::::: http://www.ncd.org.cn/skin/css/icons-extra.css ::::: */

@font-face {
  font-family: "MuiiconSpread";  font-style: normal;  font-weight: normal;  src: url('/template16/fonts/mui-icons-extra.ttf') format("truetype");}
.mui-icon-extra { font-family: MuiiconSpread; font-size: 24px; font-weight: normal; font-style: normal; line-height: 1; display: inline-block; text-decoration: none; }
.mui-icon-extra-cold::before { content: ""; }
.mui-icon-extra-share::before { content: ""; }
.mui-icon-extra-class::before { content: ""; }
.mui-icon-extra-custom::before { content: ""; }
.mui-icon-extra-new::before { content: ""; }
.mui-icon-extra-card::before { content: ""; }
.mui-icon-extra-grech::before { content: ""; }
.mui-icon-extra-trend::before { content: ""; }
.mui-icon-extra-filter::before { content: ""; }
.mui-icon-extra-holiday::before { content: ""; }
.mui-icon-extra-cart::before { content: ""; }
.mui-icon-extra-heart::before { content: ""; }
.mui-icon-extra-computer::before { content: ""; }
.mui-icon-extra-express::before { content: ""; }
.mui-icon-extra-gift::before { content: ""; }
.mui-icon-extra-gold::before { content: ""; }
.mui-icon-extra-lamp::before { content: ""; }
.mui-icon-extra-rank::before { content: ""; }
.mui-icon-extra-notice::before { content: ""; }
.mui-icon-extra-sweep::before { content: ""; }
.mui-icon-extra-arrowleftcricle::before { content: ""; }
.mui-icon-extra-dictionary::before { content: ""; }
.mui-icon-extra-heart-filled::before { content: ""; }
.mui-icon-extra-xiaoshuo::before { content: ""; }
.mui-icon-extra-top::before { content: ""; }
.mui-icon-extra-people::before { content: ""; }
.mui-icon-extra-topic::before { content: ""; }
.mui-icon-extra-hotel::before { content: ""; }
.mui-icon-extra-like::before { content: ""; }
.mui-icon-extra-regist::before { content: ""; }
.mui-icon-extra-order::before { content: ""; }
.mui-icon-extra-alipay::before { content: ""; }
.mui-icon-extra-find::before { content: ""; }
.mui-icon-extra-arrowrightcricle::before { content: ""; }
.mui-icon-extra-calendar::before { content: ""; }
.mui-icon-extra-prech::before { content: ""; }
.mui-icon-extra-cate::before { content: ""; }
.mui-icon-extra-comment::before { content: ""; }
.mui-icon-extra-at::before { content: ""; }
.mui-icon-extra-addpeople::before { content: ""; }
.mui-icon-extra-peoples::before { content: ""; }
.mui-icon-extra-calc::before { content: ""; }
.mui-icon-extra-classroom::before { content: ""; }
.mui-icon-extra-phone::before { content: ""; }
.mui-icon-extra-university::before { content: ""; }
.mui-icon-extra-outline::before { content: ""; }
/* ::::: http://www.ncd.org.cn/skin/css/index-pc.css ::::: */

* { -moz-user-select: text; }
html { width: 100%; height: 100%; }
body { width: 100%; height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 14px; font-family: "Microsoft Yahei","寰蒋闆呴粦"; color: rgb(85, 85, 85); }
input, textarea { font-family: "寰蒋闆呴粦","Microsoft Yahei"; }
ul, li, p, h1, h2, h3, h4, h5, img { margin: 0px; padding: 0px; list-style: outside none none; }
a { color: rgb(85, 85, 85); text-decoration: none; }
a:hover, a:visited, a:active { text-decoration: none; color: rgb(85, 85, 85); }
.clear { width: 100%; height: 0px; clear: both; line-height: 0; font-size: 0px; margin: 0px auto; padding: 0px; }
.clear15 { width: 100%; height: 15px; clear: both; line-height: 0; font-size: 0px; margin: 0px auto; padding: 0px; }
.top-wrap { width: 100%; height: 75px; z-index: 999; background: rgb(0, 163, 154) url('/template16/images/top-bottom.jpg') repeat-x scroll 0px bottom; border-top: 1px solid rgb(40, 177, 170); }
.top-box { width: 1200px; margin: 0px auto; padding-top: 9px; }
.logo-pc { width: 160px; float: left; margin-right: 40px; }
.logo-pc img { display: block; width: auto; height: 50px; border: 0px none; }
nav { position: relative; width: 520px; float: left; z-index: 999; }
ul.topb-main { font-size: 16px; }
ul.topb-main span { display: inline-block; margin-left: 5px; width: 7px; height: 7px; background: rgba(0, 0, 0, 0) url('/template16/images/down-icon.png') no-repeat scroll 0% 0%; }
ul.topb-main > li { width: 70px; height: 60px; line-height: 60px; display: block; float: left; margin: 0px 15px; text-align: center; }
ul.topb-main > li#li-1 { width: 80px; color: rgb(255, 255, 255); }
ul.topb-main > li a { color: rgb(255, 255, 255); }
ul.topb-main > li:hover { border-bottom: 5px solid rgb(238, 179, 53); }
ul.topb-main > li:hover a { color: rgb(238, 179, 53); }
ul.topb-main > li#li-1:hover { color: rgb(238, 179, 53); }
div.hidden-box { width: 80px; position: absolute; z-index: 999; display: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(36, 174, 167) rgb(36, 174, 167); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; top: 60px; text-align: center; line-height: 30px; }
div.hidden-box a { display: block; color: rgb(36, 174, 167); }
.hidden-box li:hover { background: rgb(36, 174, 167) none repeat scroll 0% 0%; }
.hidden-box li:hover a { color: rgb(255, 255, 255); }
.hidden-loc-1 { left: 15px; }
.top-right { width: 470px; float: right; margin-right: -5px; }
.search-box { width: 270px; height: 34px; border: 1px solid rgb(135, 212, 207); float: right; margin-top: 13px; }
.search-box input[type="text"] { width: 230px; height: 33px; line-height: 33px; float: left; margin: 0px; color: rgb(255, 255, 255); font-size: 13px; padding: 0px 5px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border-radius: 0px; border: 0px none; }
.search-box input[type="submit"] { width: 30px; height: 33px; float: right; background: transparent url('/template16/images/icon-search.png') no-repeat scroll center center; border: 0px none; }
.top-ul { margin-top: 3px; float: right; }
.top-ul li { width: 60px; float: left; text-align: center; border-right: 1px solid rgb(36, 174, 167); font-size: 13px; }
.top-ul li:last-child { border-right: 0px none; }
.top-ul li a { color: rgb(255, 255, 255); }
.top-ul li span { display: block; }
.top-ul li.top-search { display: none; }
@media (max-width: 1200px) {
  .logo-pc { width: 160px; margin-right: 20px; }
  .top-box { width: 850px; }
  .top-right { width: 180px; float: right; margin-right: -5px; }
  .search-box { display: none; }
  .top-ul { margin-left: 0px; }
  .top-ul li { width: 44px; }
  .top-ul li.top-search { display: block; }
}
.mui-content { background-color: rgb(255, 255, 255); }
.main-left { width: 840px; float: left; }
.main-b .mui-table-view-cell::after { left: 0px; background-color: rgb(191, 230, 234); }
.main-b .mui-table-view-cell:last-child::after, .mui-table-view-cell:last-child::before { height: 1px; }
.main-b .mui-table-view::after { height: 0px; }
.main-b .mui-table-view-cell { position: relative; padding-left: 0px; padding-right: 0px; }
.main-b .mui-table-view-cell:hover { background-color: rgb(251, 251, 251); }
.main-b .mui-table-view-cell article { margin-left: 0px; margin-right: 0px; }
.main-b .mui-table-view-cell > a { visibility: hidden; }
.main-b .mui-table-view .mui-table-view-cell article > a { display: block; width: 200px; height: 140px; margin-right: 15px; overflow: hidden; float: left; }
.main-b .mui-table-view .mui-media-large .mui-media-object { max-width: 200px; width: 200px; height: 140px; transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s; }
.main-b .mui-table-view .mui-media-large .mui-media-object:hover { transform: scale(1.05); }
.main-b .mui-media-body { font-size: 22px; line-height: 30px; color: rgb(0, 163, 154); padding-right: 10px; }
.main-b .mui-media-body h3 { font-size: 22px; font-weight: normal; }
.main-b .mui-media-body a { color: rgb(0, 163, 154); }
.main-b .mui-media-body a:hover { color: rgb(170, 0, 0); }
.main-b .mui-media-body p { color: rgb(170, 170, 170); }
.main-b .mui-media-body p.mui-ellipsis { color: rgb(136, 136, 136); }
.main-b .mui-media-body p small { font-size: 13px; float: right; margin-left: 10px; }
.main-b .mui-media-body p small i { font-size: 16px; color: rgb(238, 179, 52); vertical-align: middle; margin-top: -2px; margin-bottom: 1px; margin-right: 2px; }
.main-b .mui-media-body p small i.mui-icon-chatbubble-filled { color: rgb(85, 216, 209); }
.main-b .mui-media-body p small i.mui-icon-extra-heart-filled { font-size: 15px; color: rgb(252, 99, 99); }
.main-b { width: 100%; height: auto; overflow: hidden; }
.main-b ul.list, .main-b ul.list { overflow: hidden; }
.main-b .more { overflow: hidden; padding: 10px; text-align: center; }
.main-b .more a { display: block; width: 100%; line-height: 40px; color: rgb(238, 179, 52); text-align: center; border: 1px solid rgb(240, 240, 240); border-radius: 3px; margin: 0px auto; }
.main-b .more a:hover { text-decoration: none; background: rgb(232, 232, 232) none repeat scroll 0% 0%; }
.main-right { display: none; width: 330px; float: right; }
.main-c { width: 330px; padding: 0px 10px; background-color: rgb(251, 251, 251); }
.main-c-title { padding: 0px 30px; height: 50px; line-height: 36px; background: rgba(0, 0, 0, 0) url('/template16/images/title-1.png') no-repeat scroll 0px 0px; }
.main-c-title img { display: block; float: left; margin-right: 25px; }
.main-c-title b { color: rgb(255, 255, 255); letter-spacing: 15px; font-size: 20px; }
.main-c1 { margin-top: -8px; margin-bottom: 10px; padding-bottom: 8px; }
.main-c1 li { height: 81px; padding: 8px 0px; border-bottom: 1px solid rgb(204, 204, 204); }
.main-c1 li img { width: 80px; height: 65px; float: left; }
.main-c1 li p { height: 65px; padding-left: 90px; padding-top: 5px; line-height: 27px; }
.adv-right { width: 330px; margin-bottom: 10px; }
.adv-right img { width: 330px; border: 0px none; }
.main-c2 { border-bottom: 1px solid rgb(204, 204, 204); padding-top: 10px; margin-bottom: 10px; }
.main-c2 img { display: block; width: 310px; height: 200px; border: 0px none; }
.main-c2 p { width: 310px; height: 35px; text-align: center; line-height: 35px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.main-c3 { padding: 0px 5px 30px; }
.main-c3 li { height: 28px; line-height: 28px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.main-c4 { text-align: center; height: 180px; }
.main-c4 a { display: block; width: 155px; float: left; }
.main-c4 p { line-height: 25px; }
.foot-wrap { width: 100%; height: 200px; line-height: 30px; background-color: rgb(221, 221, 221); text-align: center; color: rgb(85, 85, 85); font-size: 13px; }
.foot-wrap a { padding: 0px 15px; color: rgb(255, 255, 255); }
.foot-wrap > p { height: 45px; line-height: 45px; background-color: rgb(239, 239, 239); color: rgb(221, 221, 221); }
.foot-wrap > p a { color: rgb(85, 85, 85); }
.foot-wrap > div { padding-top: 50px; color: rgb(85, 85, 85); font-size: 13px; }
.adv { position: relative; }
.adv span { position: absolute; color: rgb(254, 185, 64); right: 10px; top: 10px; cursor: pointer; }
@media (min-width: 851px) {
  #offCanvasSide { width: 0px; }
  .mui-off-canvas-wrap .mui-inner-wrap { height: auto; }
  .mui-off-canvas-wrap { height: auto; margin-top: 10px; }
  .mui-bar-nav ~ .mui-content { padding-top: 0px; }
  header { display: none; }
  aside { display: none; }
  #offCanvasContentScroll { position: relative; width: 100%; margin: 0px auto; -moz-user-select: text; }
  .main-box { position: relative; width: 840px; margin: 0px auto; }
  .main-a { height: 375px; }
  .adv-three { display: block; }
  .main-b .mui-media-body p { font-size: 14px; line-height: 24px; }
  .main-b .mui-media-body p.mui-ellipsis { height: 80px; padding-top: 10px; font-size: 13px; white-space: normal; line-height: 22px; display: -webkit-box; -moz-box-orient: vertical; -moz-box-flex: 1; overflow: hidden; }
  .main-b .mui-media-body p.mui-ellipsis em { color: rgb(255, 0, 0); font-style: normal; }
  .copy-wap { display: none; }
}
@media (min-width: 1201px) {
  #offCanvasContentScroll { width: 100%; }
  .main-box { width: 1200px; }
  .main-right { display: block; }
  .main-404 { width: 840px; }
}
@media (max-width: 1200px) {
  #tabs1 { width: 840px; }
  .menu1box { height: 40px; width: 840px; }
  #menu1 li { width: 90px; font-size: 20px; }
  #main1 ul { display: none; width: 840px; margin: 10px 0px; }
  #main1 ul li { width: 125px; height: 38px; margin: 5px 7px; float: left; }
  #main1 ul li img { width: 100%; height: 35px; display: block; }
  #main1 ul > a { display: inline-block; margin: 10px; line-height: 28px; }
  .foot-wrap { width: 100%; height: 180px; line-height: 30px; }
  .foot-wrap a { padding: 0px 10px; color: rgb(255, 255, 255); }
  .foot-wrap > p { height: 40px; line-height: 40px; }
  .foot-wrap > p a { color: rgb(85, 85, 85); }
  .foot-wrap > div { padding-top: 40px; color: rgb(85, 85, 85); }
}
.header-wrap { width: 330px; display: none; }
@media (max-width: 1200px) {
  .header-wrap { display: none; }
  .fixed { display: none; }
}
#picture { display: none; }
@media (min-width: 851px) {
  .main-a0 { height: 375px; display: none; }
}
.inner-position { margin: 20px 0px; padding: 0px 10px; background-color: rgb(251, 251, 251); height: 40px; line-height: 40px; }
.inner-position a { padding: 0px 10px; }
.main-c7 .mui-table-view .mui-table-view-cell::after { height: 0px; }
.main-c7 .mui-table-view::after { height: 0px; }
.main-c7 .mui-table-view .mui-table-view-cell:nth-child(1) span, .main-c7 .mui-table-view .mui-table-view-cell:nth-child(2) span, .main-c7 .mui-table-view .mui-table-view-cell:nth-child(3) span { background-color: rgb(255, 0, 0); }
.content-info span::before { content: ""; position: absolute; height: 13px; border-right: 1px solid rgb(239, 239, 239); left: -10px; top: 3px; }
.content-info span:first-of-type::before { border: 0px none; }
@media (min-width: 851px) {
  .con-share-pc { float: right; }
  .con-share-pc a { padding: 0px 2px; margin: 0px; }
  .con-share-pc a img { vertical-align: middle; }
  .wechat { position: relative; }
  .wechat span { display: none; }
  .wechat:hover span { display: block; position: absolute; bottom: 30px; left: -45px; }
  .con-share-wap { display: none !important; }
}
@media (min-width: 641px) {
  .main-topic .main-b { width: 640px; margin: 0px auto; }
  .main-topic li { width: 300px; float: left; margin: 10px; }
  .main-topic li > a { display: block; width: 300px; height: 200px; overflow: hidden; }
  .main-topic li img { width: 100%; height: 100%; transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s; }
  .main-topic li img:hover { transform: scale(1.05); }
  .main-topic li h3 { font-size: 15px; height: 30px; line-height: 20px; padding: 5px 0px; font-weight: normal; }
  .main-topic li h3 span { display: block; font-size: 13px; padding: 0px 3px; line-height: 20px; float: right; color: rgb(255, 255, 255); background-color: rgb(0, 163, 154); }
  .main-topic li p { height: 44px; font-size: 13px; white-space: normal; line-height: 22px; display: -webkit-box; -moz-box-orient: vertical; -moz-box-flex: 1; overflow: hidden; }
  .main-topic li p a { color: rgb(102, 102, 102); }
  .main-topic li p a:hover { text-decoration: underline; }
  .main-topic ul.list { width: 640px; margin: 0px auto; }
}
@media (min-width: 851px) {
  .main-topic .main-b { width: 850px; }
  .main-topic li { width: 405px; }
  .main-topic li > a { width: 405px; height: 250px; }
  .main-topic ul.list { width: 100%; }
}
@media (min-width: 1201px) {
  .main-topic .main-b { width: 1100px; }
  .main-topic li { width: 530px; }
  .main-topic li > a { width: 530px; height: 300px; }
}
@media (min-width: 641px) {
  .meeting-box { position: relative; width: 640px; margin: 0px auto; }
  .meeting-box .main-left li { width: 300px; float: left; margin: 0px 10px 10px; }
  .meeting-box .main-left li > a { width: 100%; height: 200px; overflow: hidden; display: block; }
  .meeting-box .main-left li img { width: 100%; height: 100%; transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s; }
  .meeting-box .main-left li img:hover { transform: scale(1.05); }
  .meeting-box .main-left li h3 { font-size: 15px; height: 25px; line-height: 25px; font-weight: normal; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: rgb(53, 53, 53); }
  .meeting-box .main-left li p span { font-size: 13px; padding: 0px 3px; line-height: 20px; float: right; }
  .meeting-box .main-left li p span.red { color: rgb(255, 0, 0); }
  .meeting-box .main-left li p { height: 20px; font-size: 13px; white-space: normal; color: rgb(117, 117, 117); }
  .meeting-box .main-left li i { font-size: 15px; vertical-align: middle; margin-top: -2px; margin-bottom: 1px; color: rgb(64, 160, 60); }
  .meeting-box .main-left ul.list { width: 640px; margin: 0px auto; }
}
@media (min-width: 851px) {
  .meeting-box { width: 850px; }
  .meeting-box .main-left li { width: 410px; margin: 0px 15px 10px 0px; }
  .meeting-box .main-left li > a { width: 410px; height: 250px; }
  .meeting-box .main-left ul.list { width: 850px; margin: 0px auto; }
}
@media (min-width: 1201px) {
  .meeting-box { width: 1200px; }
}
@media (max-width: 1200px) {
  .about-left { width: 200px; }
  .about-title { padding: 10px; }
  .about-title b { font-size: 25px; line-height: 32px; text-indent: 8px; }
  .about-title span { font-size: 16px; line-height: 22px; }
  .about-list li { padding-left: 20px; line-height: 32px; height: 35px; margin-bottom: 10px; font-size: 15px; }
  .about-right { width: 630px; }
  .about-con { padding: 8px; font-size: 15px; }
  .about-con p { margin-bottom: 10px; font-size: 15px; }
}
@media (min-width: 850px) {
  .main-news { width: 870px; margin: 0px -10px; }
  .main-news .main-b { width: 270px; height: 350px; margin: 0px 10px 10px; float: left; }
  .main-news .main-title { background-color: rgb(0, 163, 154); }
  .main-news .main-title h5 p { display: block; border: 0px none; color: rgb(255, 255, 255); text-align: center; font-size: 18px; }
  .main-news .main-title i { color: rgb(238, 179, 52); font-weight: bold; }
  .main-news .main-b .mui-table-view-cell { height: 30px; padding: 0px; overflow: hidden; background-color: rgb(250, 250, 250); }
  .main-news .main-b .mui-table-view-cell::after { height: 0px; }
  .main-news .main-b .mui-table-view-cell p { display: none; }
  .main-news .main-b .mui-table-view-cell article > a { display: none; }
  .main-news .main-b .mui-table-view-cell article { margin: 0px; }
  .main-news .main-b .mui-table-view-cell .mui-media-body h3 { font-size: 14px; line-height: 30px; height: 30px; border: 0px none; font-weight: normal; }
  .main-news .main-b .mui-media-body { padding-left: 10px; }
  .main-news .main-b .mui-media-body h3 { height: 30px; color: rgb(51, 51, 51); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
  .main-news .main-b .mui-media-body h3:hover { color: rgb(255, 0, 0); }
  .main-news .main-b .mui-table-view-cell:first-child { height: 150px; border-bottom: 1px dashed rgb(0, 163, 154); margin-bottom: 3px; }
  .main-news .main-b .mui-table-view-cell:first-child article > a { width: 360px; height: 100px; overflow: hidden; margin: 10px 10px 5px; display: block; float: none; }
  .main-news .main-b .mui-table-view-cell:first-child article > a img { width: 250px; height: 175px; margin-top: -30px; max-width: 250px; margin-right: 0px; }
  .main-news .main-b .mui-table-view-cell:first-child .mui-media-body h3 { font-weight: bold; color: rgb(0, 163, 154); font-size: 15px; }
}
@media (min-width: 1201px) {
  .main-news { width: 1230px; margin: 0px -15px; }
  .main-news .main-b { width: 380px; height: 405px; margin: 0px 15px 15px; }
  .main-news .main-b .mui-table-view-cell::after { height: 0px; }
  .main-news .main-b .mui-table-view-cell .mui-media-body h3 { font-size: 15px; }
  .main-news .main-b .mui-table-view-cell:first-child { height: 205px; }
  .main-news .main-b .mui-table-view-cell:first-child article > a { width: 360px; height: 155px; }
  .main-news .main-b .mui-table-view-cell:first-child article > a img { width: 360px; height: 265px; margin-top: -45px; max-width: 360px; }
  .main-news .main-b .mui-table-view-cell:first-child .mui-media-body h3 { font-size: 16px; }
}
.toolbar-item { background: rgba(0, 0, 0, 0) url('/template16/images/toolbar.png') no-repeat scroll 0% 0%; }
.toolbar { position: fixed; right: 5px; bottom: 50px; z-index: 999; }
/* ::::: http://www.ncd.org.cn/skin/css/index-wap.css ::::: */

@media (max-width: 850px) {
  .top-wrap { display: none; }
  .banner-box { display: none; }
  .mui-off-canvas-left { position: fixed; background: transparent url('/template16/images/left-bg.jpg') no-repeat scroll 0px 0px / 100% 100%; z-index: 999; left: -100%; transition: left 0.5s ease 0s; }
  .mui-off-canvas-left .left-top { padding: 70px 0px 50px; text-align: center; }
  .mui-off-canvas-left .left-top img { width: 20%; }
  .mui-off-canvas-left .left-top p { color: rgb(255, 255, 255); }
  .mui-off-canvas-left .mui-table-view { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
  .mui-off-canvas-left .mui-table-view a { display: block; color: rgb(255, 255, 255); }
  .mui-off-canvas-left .mui-table-view-inverted .mui-table-view-cell::after { background-color: rgb(136, 136, 136); }
  .mui-off-canvas-left .mui-table-view-cell:last-child::after { height: 1px; }
  .mui-off-canvas-left .mui-table-view-inverted::after { height: 0px; }
  .mui-off-canvas-left .mui-table-view-cell img { width: 25px; margin: 0px 10px; vertical-align: middle; }
  .layui-layer { position: fixed; top: 50px; bottom: 50px; }
  .layui-layer-content { height: 100%; }
  header { display: block; margin: 0px auto; }
  .mui-bar { height: 52px; padding-top: 5px; background-color: rgb(0, 163, 154); }
  .mui-bar-nav.mui-bar .mui-icon { color: rgb(255, 255, 255); }
  header .mui-pull-left { padding-top: 10px; }
  header a { color: rgb(255, 255, 255); }
  .mui-title img { padding: 2px; }
  .mui-bar-nav ~ .mui-content { padding-top: 52px; }
  #offCanvasContentScroll { width: 100%; }
  .main-box { width: 100%; }
  .main-left { width: 100%; }
  .main-title { display: block; }
  .main-b .mui-table-view-cell { padding: 8px; }
  .main-b .mui-table-view-cell article { margin: -8px; }
  .main-b .mui-table-view-cell > a { visibility: visible; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
  .main-b .mui-table-view .mui-table-view-cell article > a { width: 80px; height: 62px; margin-right: 8px; }
  .main-b .mui-table-view .mui-media-large .mui-media-object { line-height: 62px; width: 80px; max-width: 80px; height: 62px; margin-right: 8px; }
  .main-b .mui-media-body { line-height: 21px; font-size: 14px; }
  .main-b .mui-media-body h3 { line-height: 21px; font-size: 14px; font-weight: normal; }
  .main-b .mui-media-body p { font-size: 12px; }
  .main-b .mui-media-body p.mui-ellipsis { font-size: 13px; }
  .main-b .mui-media-body p small { font-size: 12px; }
  .main-b .mui-media-body p small i { font-size: 13px; }
  .main-b .mui-media-body p small i.mui-icon-extra-heart-filled { font-size: 13px; }
  .main-b .more a { width: 100%; line-height: 30px; }
  .slideBox { width: 100%; height: 55vw; overflow-y: hidden; }
  .slideBox .hd li { width: 6px; height: 6px; border-radius: 3px; margin-right: 6px; }
  .slideBox .hd { height: 30px; line-height: 30px; }
  .slideBox .bd li .tit { font-size: 14px; font-weight: normal; height: 30px; line-height: 30px; }
  .slideBox .bd li img { height: 55vw; }
  .copy-wap { background-color: rgb(239, 239, 239); text-align: center; line-height: 40px; height: 40px; color: rgb(170, 170, 170); }
  #tabs1 { display: none; }
  .foot-wrap { display: none; }
  .mui-off-canvas-backdrop { position: fixed; }
  .inner-position { display: none; }
  .main-left .my-search { width: 95%; margin: 8px auto; }
  .search-title { height: 30px; line-height: 30px; border-bottom: 1px solid rgb(238, 238, 238); }
  .search-title h5 b { padding: 0px 10px; line-height: 29px; }
  .search-title h5 span { height: 30px; line-height: 30px; font-size: 12px; }
  .inner-know { padding: 10px 0px; }
  .inner-know li { width: 20%; }
  .inner-know li img { width: 40%; }
  .inner-know li span { font-size: 14px; }
  .content-box { margin: 10px; }
  .content-box h1 { font-size: 18px; line-height: 25px; }
  .content-info { font-size: 12px; line-height: 30px; overflow: auto; }
  .content-brief { border: 1px solid rgb(204, 204, 204); padding: 10px 15px; margin: 15px 0px; line-height: 24px; color: rgb(153, 153, 153); background-color: rgb(250, 250, 250); }
  .content-detail { margin: 20px 0px; }
  .content-detail p { text-indent: 2em; margin-bottom: 10px; line-height: 1.6em; }
  .content-detail img { width: 90%; }
  .content-about { margin: 10px; }
  .content-about ul { padding: 10px 0px; }
  .con-share-pc { display: none !important; }
  .con-share-wap { display: inline-block; }
  .con-like, .con-save, .con-share-wap { width: 28%; margin: 0px 5px !important; font-size: 13px; }
  .comment-a { padding: 8px 10px; line-height: 22px; border: 0px none; background-color: rgb(245, 245, 245); }
  .adv-b { display: none; }
  .topic-title, .meeting-title { height: 120px; }
  #picture { width: 100%; height: 100%; background: rgba(0, 0, 0, 0) url('/template16/images/news-bg.jpg') repeat scroll 0px 0px / 100% 100%; }
  .news-page { padding: 20px 20px 0px; max-width: 640px; margin: 0px auto; }
  .news-page-title { height: 45px; line-height: 40px; color: rgb(255, 255, 255); border-bottom: 1px solid rgb(134, 136, 137); margin-bottom: 20px; }
  .news-page-title a { float: right; line-height: 40px; color: rgb(255, 255, 255); }
  .news-page-title img { width: 30px; vertical-align: middle; margin: -2px 8px 1px; }
  .news-page ul li { width: 33%; float: left; padding: 5px; }
  .news-page ul a { display: block; margin-top: 0px; margin-bottom: 0px; padding: 0px; background-color: rgb(136, 136, 136); line-height: 30px; color: rgb(255, 255, 255); font-size: 14px; margin-left: 3px !important; margin-right: 3px !important; text-align: center; }
  .news-page .mui-table-view li { margin-bottom: 15px; }
  .layui-layer-btn { position: absolute; top: 30px; right: 20px; color: rgb(255, 255, 255); }
  .layui-layer-btn a { color: rgb(255, 255, 255); font-size: 13px; }
  .about-left { display: none; }
  .about-right { width: 100%; float: none; }
  .position { height: 30px; text-align: left; padding: 0px 10px; line-height: 30px; margin-bottom: 10px; font-size: 15px; }
  .position a { color: rgb(255, 255, 255); }
  .about-con { padding: 10px; font-size: 14px; }
  .about-con img { margin-bottom: 10px; }
  .about-con p { margin-bottom: 10px; font-size: 14px; line-height: 1.6em; }
  .about-con h3 { text-align: center; }
  .news-nav-wrap { height: 70px; line-height: 35px; margin-bottom: 0px; }
  .news-nav { width: 100%; }
  .news-nav a { padding: 0px 10px; font-size: 14px; }
  .news-nav a.news-nav-on { float: left; padding: 0px 10px; height: 70px; line-height: 70px; }
  .slideBox1 { width: 100%; height: auto; float: none; }
  .slideBox1 .hd li { width: 6px; height: 6px; border-radius: 3px; margin-right: 6px; }
  .slideBox1 .hd { height: 30px; line-height: 30px; }
  .slideBox1 .bd li .tit { font-size: 14px; font-weight: normal; height: 30px; line-height: 30px; }
  .slideBox1 .bd li img { height: 55vw; }
  .hot-box { width: 100%; float: none; padding: 10px; }
  .hot-box div { height: 83px; }
  .hot-box div h3 { display: block; font-size: 16px; font-weight: normal; line-height: 30px; border-bottom: 1px dashed rgb(195, 195, 195); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 5px; }
  .hot-box div h3:hover { color: rgb(255, 0, 0); }
  .hot-box div p { line-height: 20px; height: 40px; overflow: hidden; text-overflow: ellipsis; font-size: 13px; display: -webkit-box; -moz-box-orient: vertical; }
  .hot-box ul { margin: 5px 0px; line-height: 26px; }
  .hot-box ul li { padding-left: 10px; background: rgba(0, 0, 0, 0) url('/template16/images/square.jpg') no-repeat scroll 0px center; }
  .hot-box ul li a:hover { color: rgb(255, 0, 0); }
}
@media (max-width: 350px) {
  .news-nav a { padding: 0px 8px; font-size: 13px; }
  .news-nav a.news-nav-on { padding: 0px 10px; }
}
@media (max-width: 640px) {
  .main-topic .main-b { width: 95%; margin: 0px auto; }
  .main-topic li { width: 100%; float: left; margin: 10px 0px; }
  .main-topic li img { width: 100%; height: auto; }
  .main-topic li h3 { font-size: 15px; height: 30px; line-height: 20px; padding: 5px 0px; font-weight: normal; }
  .main-topic li h3 span { display: block; font-size: 13px; padding: 0px 3px; line-height: 20px; float: right; color: rgb(255, 255, 255); background-color: rgb(0, 163, 154); }
  .main-topic li p { height: 40px; font-size: 13px; white-space: normal; line-height: 20px; display: -webkit-box; -moz-box-orient: vertical; -moz-box-flex: 1; overflow: hidden; }
  .meeting-box { width: 95%; margin: 0px auto; }
  .meeting-box li { width: 100%; margin: 10px 0px; }
  .meeting-box li img { width: 100%; height: auto; }
  .meeting-box li h3 { font-size: 15px; height: 25px; line-height: 25px; font-weight: normal; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: rgb(53, 53, 53); }
  .meeting-box li p span { font-size: 13px; padding: 0px 3px; line-height: 20px; float: right; }
  .meeting-box li p span.red { color: rgb(255, 0, 0); }
  .meeting-box li p { height: 20px; font-size: 13px; white-space: normal; color: rgb(117, 117, 117); }
  .meeting-box li i { font-size: 15px; vertical-align: middle; margin-top: -2px; margin-bottom: 1px; color: rgb(64, 160, 60); }
  .box-404 { padding: 20px 0px; }
  .pc-404 { display: none; }
  .wap-404 { display: block; }
  .wap-404 img { width: 80%; }
}
@media (max-width: 767px) {
  .toolbar { bottom: 20px; }
  .toolbar-item-weixin { display: none; }
  .toolbar-item { border-radius: 50%; transform: scale(0.8); }
}
/* ::::: http://www.ncd.org.cn/skin/js/skin/layer.css ::::: */

